{% extends 'dashboard/layout/base.html.twig' %}

{% block title %} Dashboard System-Logs {% endblock %}

{% block body %}

    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 mt-1">
                        <h5 class="m-0 text-dark mt-1">System-Logs Overview</h5>
                    </div>
                    <div class="col-6 mt-1">
                        <div class="breadcrumb float-right"></div>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="container-fluid area-section mb-1">
                    <div class="row px-3 pt-3">
                        <div class="col-lg-12">
                            {% include 'dashboard/system-logs/partial/table_content.html.twig' %}
                        </div>
                    </div>
                </div>
                <div class="float-right mb-3">
                    <a href="{{ path('app_dashboard_system_logs_index', {limit:1000}) }}">
                        Load all System-logs <span class="fa fa-sync-alt pr-1"></span>
                    </a>
                </div>
            {% endif %}

        </section>
    </div>

{% endblock %}