{% extends 'dashboard/layout/base.html.twig' %}

{% block title %} Dashboard Projects {% endblock %}

{% block body %}

    <div class="content-wrapper">

        {% set isAdmin = is_granted('ROLE_SUPER_ADMIN') %}

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 mt-1">
                        <h5 class="m-0 text-dark mt-1">Projects</h5>
                    </div>
                    <div class="col-6 mt-1">
                        {% if isAdmin %}
                            <div class="breadcrumb float-right">
                                <button class="btn btn-outline-secondary btn-headers"
                                        data-toggle="modal" data-target="#newProjectModal">
                                    <span class="fa fa-plus fa-sm"></span> <span
                                            class="ps-1 md-d-none">Add Project</span>
                                </button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        {% include 'dashboard/projects/partial/table_content.html.twig' %}
                    </div>
                </div>

                <div class="row">
                    <section class="col-lg-7 connectedSortable"></section>
                    <section class="col-lg-5 connectedSortable"></section>
                </div>
            </div>
        </section>
    </div>

    {% if isAdmin %}
        {% include 'dashboard/projects/modal/new.html.twig' %}
    {% endif %}

{% endblock %}