{% extends 'dashboard/layout/base.html.twig' %}

{% block title %} Dashboard Settings {% endblock %}

{% block body %}

    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-8 mt-1">
                        <h5 class="m-0 text-dark mt-1">User Settings Overview</h5>
                    </div>
                    <div class="col-4 mt-1">
                        <div class="breadcrumb float-right"></div>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid area-section">

                <div class="row px-3 py-3">
                    <div class="col-lg-12">
                        <h5>Ticket-Status Notifications</h5>
                        <p class="text-secondary"></p>

                        <form action="{{ path('app_dashboard_settings_store_own_config') }}" method="post">
                            <div class="form-group form-check mt-3" onclick="this.closest('form').submit();">
                                <input type="checkbox" class="form-check-input" id="c1z3n6t4" name="config"
                                        {{ notifyCustomerOnTicketStatusResolved ? 'checked' : '' }}>
                                <label class="form-check-label fs-15" for="c1z3n6t4">
                                    <span class="pl-1">
                                        Please let me know if the ticket status has been resolved.
                                    </span>
                                </label>
                                <span class="d-none">
                                    <input type="hidden" name="path" value="{{ app.request.get('_route') }}">
                                </span>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="container-fluid area-section">
                    <div class="row px-3 py-3">
                        <div class="col-lg-12">
                            {% include 'dashboard/settings/partial/table_content.html.twig' %}
                        </div>
                    </div>
                </div>
            {% endif %}

        </section>
    </div>

{% endblock %}