<div class="modal fade" id="infosModal" tabindex="-1" role="dialog" aria-labelledby="infosModalTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infosModalTitle">
                    General Infos
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light">
                <ul class="fs-14">
                    <li>Search term is only Ticket-no without "T-"</li>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li>When adding a new issue, the webmaster will be notified if the configuration is active.</li>
                        <li>Pagination is not implemented yet</li>
                        <li>Filter is not implemented yet</li>
                    {% endif %}
                </ul>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>