<div class="modal fade" id="reportBugModal" tabindex="-1" role="dialog" aria-labelledby="reportBugModalTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportBugModalTitle">
                    Reporting a Bug
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light">
                <p class="fs-14">
                    Please describe the issue you are experiencing, including any error message or unexpected behavior.
                    Include steps to reproduce the problem and any other relevant details about your environment, such
                    as operating system and browser.
                </p>
                <p>We will fix it as soon as possible.</p>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal">
                    <span data-toggle="modal" data-target="#newTicketModal">
                        Open issue
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>