<div class="text-center py-4 user-select-none">
    <h4 class="pl-3 mb-2">
        {{ title is defined ? title : 'No Data Found' }}
    </h4>

    <p class="pl-3 fs-14 text-secondary">
        {{ subTitle is defined ? subTitle : 'No data have been found!' }}
    </p>

    <img src="{{ asset('lte/img/query.svg') }}" alt="No Data">

    <br><br>

    {% if path is defined and path %}
        <a href="{{ path(path) }}" class="pl-3 fs-13">
            <span class="fa fa-arrow-alt-circle-left fa-sm"></span> Back
        </a>
    {% endif %}
</div>