{% if content is defined %}
    <span
         class="fa fa-info-circle pointer fs-14 text-info"
         data-container="body"
         data-toggle="popover"
         data-placement="top"
         data-content="{{ content }}"></span>
{% endif %}
