{% if count(ticketActivities) > 0 %}

    <div class="my-3 fs-14">
       <span class="fa fa-info-circle text-info pr-1"></span> Latest Activities will be shown at first.
    </div>

    <ul>
        {% for row in ticketActivities %}
            <li class="fs-14 text-secondary mb-1" style="border-bottom: 1px dashed #dcdcdc;padding-bottom: 3px;">
                {{ row.user.name|capitalize}} {{ row.message }}
                <span class="float-right md-d-none" title="{{ row.createdAt|date }}">
                    {{ timeAgo(row.createdAt) }}
                </span>
            </li>
        {% endfor %}
    </ul>

{% else %}
    <span class="pl-3 fs-14 text-secondary">
        <span class="fa fa-info-circle fa-sm"></span> This issue has no activities!
    </span>
{% endif %}