{% extends 'dashboard/layout/base.html.twig' %}

{% block title %} Dashboard Ticket Status {% endblock %}

{% block body %}

    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 mt-1">
                        <h5 class="m-0 text-dark mt-1">Ticket Status</h5>
                    </div>
                    <div class="col-6 mt-1">
                        <div class="breadcrumb float-right">
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <button class="btn btn-outline-secondary btn-headers"
                                        data-toggle="modal" data-target="#newStatusModal">
                                    <span class="fa fa-plus fa-sm"></span> <span
                                            class="ps-1 md-d-none">Add Status</span>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid area-section">

                <div class="row py-3">
                    <div class="col-lg-12">
                        {% include 'dashboard/ticket-status/partial/table_content.html.twig' %}
                    </div>
                </div>

            </div>
        </section>
    </div>

    {% include 'dashboard/ticket-status/modal/new.html.twig' %}

{% endblock %}