{% set id = hash() %}
<label for="{{ id }}" class="form-label">
    Password
    {% if required is defined %}
        <span class="text-danger">*</span>
    {% endif %}
</label>
<input type="password"
       class="form-control" id="{{ id }}"
       placeholder="Type your password"
       name="pw"
       required="{{ required is defined ? 'true' : 'false' }}">