<div id="dropzone">
    <div class='filename'>
        <span class="fa fa-upload"></span> Drag your file or click to upload.
    </div>
    <input type="file"
           id="{{ id }}"
           name="{{ name }}"
           accept="{{ accept is defined and accept ? accept : 'image/*' }}"
            {{ required is defined and required ? 'required' : '' }}/>
</div>
<span id="remove">
    <span class="fa fa-window-close"></span>
</span>
