{% extends 'dashboard/layout/base.html.twig' %}

{% set isAdmin = is_granted('ROLE_SUPER_ADMIN') %}

{% block title %} Dashboard {{ isAdmin ? 'Companies' : 'Company' }} {% endblock %}

{% block body %}

    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 mt-1">
                        <h5 class="m-0 text-dark mt-1">
                            {{ isAdmin ? 'Companies' : 'Company' }}
                        </h5>
                    </div>
                    <div class="col-6 mt-1">
                        <div class="breadcrumb float-right">
                            {% if isAdmin %}
                                <button class="btn btn-outline-secondary btn-headers mr-1"
                                        data-toggle="modal" data-target="#newCompanyModal">
                                    <span class="fa fa-plus fa-sm"></span> <span
                                            class="ps-1 md-d-none">Add Company</span>
                                </button>
                            {% endif %}
                            <button class="btn btn-secondary btn-headers mr-1"
                                    data-toggle="modal" data-target="#infosModal">
                                <span class="fa fa-info-circle fa-sm"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid area-section">
                <div class="row py-3">
                    <div class="col-lg-12">
                        {% include 'dashboard/companies/partial/table_content.html.twig' %}
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% if isAdmin %}
        {% include 'dashboard/companies/modal/new.html.twig' %}
    {% endif %}

    {% include 'dashboard/companies/modal/infos.html.twig' %}

{% endblock %}