p, td, td > *, a, form > span {
    font-size: 14px !important;
}

::selection {
    background-color: #0a58ca;
    color: #ffffff;
}

label, label:not(.form-check-label):not(.custom-file-label) {
    margin-bottom: 0;
    font-weight: 500;
}

.btn {
    text-transform: capitalize;
    border-radius: 5px;
    padding: 7px 16px;
    font-size: 15px;
}

.small-btn {
    border-radius: 3px !important;
    opacity: 0.6;
    padding: 2px 8px !important;
    margin-bottom: 4px;
}

.small-btn:hover {
    opacity: 0.8;
}

.small-btn > span {
    font-size: 14px !important;
}

.btn-outline-secondary {
    text-transform: capitalize;
    border-radius: 3px;
    padding: 6px 10px;
    font-size: 15px;
}

.modal-title-upper {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    word-spacing: 2px;
    color: #737171;
}

.nav-icon {
    font-size: 15px !important;
}

.form-control-lg {
    font-size: 15px;
}

.btn-lg {
    font-size: 16px;
    padding: 12px 15px;
}

.pointer {
    cursor: pointer;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.alert-fixed-z-index {
    position: fixed;
    top: 2px;
    right: 1px;
    z-index: 1060
}

.text-light-50 {
    color: #ccc;
}

.menu-text-color {
    color: #8a8a8a;
}

.cursor-help {
    cursor: help;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.modal-title {
    font-weight: 600;
    color: #6f6f6f;
    font-size: 18px;
}

body {
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}

.ticket-label {
    background: rgba(223, 222, 222, 0.63);
    padding: 2px 11px;
    border-radius: 50px;
    font-size: 13px !important;
    user-select: none;
}

.ticket-status {
    color: #fff;
    padding: 4px 10px 3px 10px;
    border-radius: 50px;
    font-size: 10px !important;
    user-select: none;
    text-transform: uppercase;
    opacity: .8;
}

.form-control {
    border: 1px solid #e3e3e3;
}


.btn-headers {
    padding: 4px 10px !important;
    border-radius: 2px;
    opacity: .7;
    background-color: #fff;
    letter-spacing: 0;
    color: rgba(48, 48, 48, 0.94);
    border: 1px solid #ccc;
    margin-right: 2px;
}

.img-thumbnail {
    height: 100%;
}

.img-thumbnail:hover {
    border: 1px solid #ccc;
}

.img-remove {
    cursor: pointer;
}

.text-decoration-underline {
    text-decoration: underline !important;
}

.text-decoration-underline:hover {
    text-decoration: none !important;
}

.area-section {
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid #ece9e9;
    opacity: .9;
}

.form-control:disabled, .form-control[readonly] {
    background-color: rgba(246, 244, 244, 0.55) !important;
}

.form-control:disabled:focus, .form-control:focus[readonly] {
    border: 1px solid #f89797 !important;
    background-color: rgba(250, 223, 223, 0.49) !important;
    cursor: not-allowed;
}

.tab {
    color: #454545 !important;
    border-radius: 0 !important;
}

.active-tab {
    font-weight: 500;
    color: #007bff !important;
    border-bottom: 2px solid #268bf6 !important;
    border-radius: 0 !important;
    padding-bottom: 3px !important;
}

.tab-badge {
    background-color: #e4e1e1;
    display: inline-block !important;
    padding: .25em .4em !important;
    font-size: 75% !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    border-radius: .25rem !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

.pm-bottom > p {
    padding-bottom: 1px;
    margin-bottom: 1px;
}

@media (max-width: 868px) {
    .md-text-center {
        text-align: center !important;
    }

    .md-d-none {
        display: none;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.table td, .table th {
    padding: 10px 12px 6px 10px;
}

.modal-info {
    border-left: 3px solid #1e4eac;
    padding: 14px 14px;
    background: #e5eaf782;
    color: #1e4eac;
    font-size: 14px !important;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    user-select: none;
    margin-bottom: 10px;
}

.modal-warning {
    border-left: 3px solid #95720c;
    padding: 14px 14px;
    background: #f2efe4;
    color: #95720c;
    font-size: 14px !important;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    user-select: none;
    margin-bottom: 10px;
}

.modal-danger {
    border-left: 3px solid #f70404;
    padding: 14px 14px;
    background: #ffc5c554;
    color: #f70404;
    font-size: 14px !important;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    user-select: none;
    margin-bottom: 10px;
}